[project]
	description = Heat templates for deploying OpenStack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Edu Alcañiz (ealcaniz)
[access "refs/for/refs/*"]
	read = group user/Edu Alcañiz (ealcaniz)
	push = group user/Edu Alcañiz (ealcaniz)
	label-Code-Review = -2..+2 group user/Edu Alcañiz (ealcaniz)
	label-Verified = -1..+1 group user/Edu Alcañiz (ealcaniz)
	rebase = group user/Edu Alcañiz (ealcaniz)
	removeReviewer = group user/Edu Alcañiz (ealcaniz)
	submit = group user/Edu Alcañiz (ealcaniz)
[access "refs/heads/*"]
	read = group user/Edu Alcañiz (ealcaniz)
	create = group user/Edu Alcañiz (ealcaniz)
	push = +force group user/Edu Alcañiz (ealcaniz)
	pushMerge = group user/Edu Alcañiz (ealcaniz)
[access "refs/tags/*"]
	push = group user/Edu Alcañiz (ealcaniz)
	push = +force group user/Edu Alcañiz (ealcaniz)
